/* 
 Theme Name:   hello-child
 Theme URI:    
 Description:  
 Author:       taw-admin
 Author URI:   http://tsm.test
 Template:     hello-elementor
 Version:      1.0
 License:      GNU General Public License v2 or later
 License URI:  http://www.gnu.org/licenses/gpl-2.0.html

 /* == Add your own styles below this line ==
--------------------------------------------*/

#account_company_logo{
    border: 1px solid #666;
    color: transparent;
    
}
#account_company_logo::-webkit-file-upload-button {
display: none;
}
.placeholder-image{
    position: absolute;
    top: 50%;
    right: 50%;
    z-index: -1;
    opacity: 0.2;
}
#colorCode{
    display: none;
    position: absolute;
    top: 50%;
    right: 40%;
    color: black;
    z-index: 2;
}
.placeholder-edit{
position: absolute;
top: 34%;
right: 2%;
z-index: 2;
    }

		.placeholder-edit-cl{
    position: absolute;
        top: 34%;
    right: 2%;
    z-index: 2;
		}
.placeholder-trash{
padding: 3px 5px;
    background: white;
position: absolute;
color: black;
border-radius: 10px;
bottom: 5%;
right: 2%;
z-index: 2;
}
.placeholder-reset-cl{
bottom: 10%;
right: 2%;
z-index: 2;
}
.accounts-icons{
    padding: 3px 5px;
    background: white;
position: absolute;
color: black;
border-radius: 10px;
}

    input[type="color"] {
width: 100%;
height: 100%;
-webkit-appearance: none;
border: 1px solid #666;
padding: 0; /* Remove any padding */
margin: 0; /* Remove any margin */
background: transparent; /* Set a transparent background */
}
input[type="color"]::-webkit-color-swatch {
border: none;
    padding: 0;
}

input[type="color"]::-webkit-color-swatch-wrapper {
border: none;
padding: 0;
}
.popup_for_delete {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;

}

.company_logo_delete_popup_main_container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index:1000000000000;
}

.company_logo_delete_popup_container {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    width: 400px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    animation: fadeIn 0.5s ease-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
.delete_alert_btns{
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px;
	width: 100%;
}
.delete_alert_btns span{
	cursor: pointer;

	border-radius: 20px;
	padding: 5px 15px;

}
.delete_alert_title{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 10px;
}
.trashIcon{
	background: #dc262630;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	padding: 7px;
}
    .colorPickerContainer {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: none;
        justify-content: center;
        align-items: center;
        z-index: 1000000000000; /* Ensure it's on top of other elements */
        background: rgba(0, 0, 0, 0.5); /* Semi-transparent black overlay */
    }

    .color-container {
        display: flex;
        flex-direction: column;
        padding: 10px;
        background: #ffffff;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    }
    .color-container input{
    	border: none;
    	outline: none;
    	width: 100%;

    }

    .config {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .config-title {
        text-align: center;
        padding: 15px 0 0 0;
        font-family: sans-serif;
        font-weight: bold;
    }

    .selected-color-text {
        text-align: center;
        font-family: monospace;
        font-size: 1.2em;
        margin-bottom: 15px;
    }

    .selected-color,
    .saved-color {
        height: 40px;
        border: 1px solid #000000;
        border-radius: 3px;
        cursor: pointer;
        border-radius: 50%;
        width: 40px;
    }

    .saved-color:not(:last-of-type) {
        margin-bottom: 5px;
    }
